In [3]:
import pandas as pd
import numpy as np

obj = pd.Series([4.5,7.2,-5.3,3.6],index=['d','b','a','c'])
obj

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

In [2]:
# ---------------------------------------------------------------
# 重建索引(1)：reindex方法--返回一个符合新索引的新对象
obj2 = obj.reindex(index=['a','b','c','d','e'])  # 索引值不存在补充缺失值
obj2

a   -5.3
b    7.2
c    3.6
d    4.5
e    NaN
dtype: float64

In [3]:
# 重建索引时插值
obj3 = pd.Series(['blue','purple','yellow'],index=[0,2,4])
obj3

0      blue
2    purple
4    yellow
dtype: object

In [4]:
# 往前填值(索引位置增大的方向):可选参数method=‘ffill’
obj3.reindex(range(6),method='ffill')

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

In [5]:
# 往后填值：可选参数method=‘bfill’
obj4 = pd.Series(['blue','purple','yellow'],index=[1,3,5])
obj4.reindex(range(6),method='bfill')

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

In [4]:
# ----------------------------------------------------------------------
# 标签索引：切片时包含尾部
# Series
obj5 = pd.Series(np.arange(4.), index=['a','b','c','d'])
obj5

a    0.0
b    1.0
c    2.0
d    3.0
dtype: float64

In [5]:
obj5['b']  # 标签索引

1.0

In [8]:
obj5[['b','a','d']]  # 多个索引用列表形式

b    1.0
a    0.0
d    3.0
dtype: float64

In [9]:
obj5['b':'c']  # 用标签进行切片时，结果包含尾部(与整数索引不同)

b    1.0
c    2.0
dtype: float64

In [10]:
# DataFrame
data = pd.DataFrame(np.arange(16).reshape(4,4),
                    index=['Ohio','Colorado','Utah','New York'],
                    columns=['one','two','three','four'])
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [11]:
data['two']

Ohio         1
Colorado     5
Utah         9
New York    13
Name: two, dtype: int32

In [12]:
data[['three','one']]

          three  one
Ohio          2    0
Colorado      6    4
Utah         10    8
New York     14   12

In [13]:
data[data['three']>5]  # 布尔值和整数默认对行进行索引

          one  two  three  four
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [15]:
# ---------------------------------------------------------------
# 整数索引:切片时不包含尾部
# Series
obj5[1]

1.0

In [16]:
obj5[[1,3,0]]

b    1.0
d    3.0
a    0.0
dtype: float64

In [17]:
obj5[:2]  # 不包含尾部

a    0.0
b    1.0
dtype: float64

In [18]:
obj5[obj5<2]

a    0.0
b    1.0
dtype: float64

In [20]:
# DataFrame
data[:2] # 不含尾部

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7

In [22]:
# ---------------------------------------------------
# 利用索引符号loc:标签索引，iloc:整数索引 进行索引

data.loc[:,['two','three','four']]

          two  three  four
Ohio        1      2     3
Colorado    5      6     7
Utah        9     10    11
New York   13     14    15

In [23]:
data.iloc[:,1:]

          two  three  four
Ohio        1      2     3
Colorado    5      6     7
Utah        9     10    11
New York   13     14    15

In [27]:
data.loc['Ohio':'Colorado','two':'four']  # 包含尾部

          two  three  four
Ohio        1      2     3
Colorado    5      6     7

In [26]:
data.iloc[:2,1:]  # 不包含尾部

          two  three  four
Ohio        1      2     3
Colorado    5      6     7