In [1]:
import pandas as pd
import numpy as np
# ------------------------------------------------------------------
# Series
obj = pd.Series(np.arange(5.), index=['a','b','c','d','e'])
obj

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64

In [2]:
# 轴上删除条目(1):drop方法——返回一个删除后的新对象,原对象不变
new_obj = obj.drop('c')  # 删除一个
new_obj

a    0.0
b    1.0
d    3.0
e    4.0
dtype: float64

In [3]:
obj.drop(['d','c'])  # 删除多个

a    0.0
b    1.0
e    4.0
dtype: float64

In [4]:
obj  # 原对象不变

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64

In [5]:
# DataFrame
data = pd.DataFrame(np.arange(16).reshape((4,4)),
                    index=['Ohio','Colorado','Utah','New York'],
                    columns=['one','two','three','four'])
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [6]:
data.drop(['Colorado','Ohio'])  # 一维索引默认行索引

          one  two  three  four
Utah        8    9     10    11
New York   12   13     14    15

In [7]:
data.drop('two',axis=1)  # 设置删除列

          one  three  four
Ohio        0      2     3
Colorado    4      6     7
Utah        8     10    11
New York   12     14    15

In [8]:
# ，直接对原对象操作，不返回新对象:inplace=True
obj.drop('c',inplace=True)

In [9]:
obj

a    0.0
b    1.0
d    3.0
e    4.0
dtype: float64